Repository android/platform-samples, pull requests merged in 2023-07, with the labels that each got.

#49 BLE GATT sample
  samples/README.md
  samples/connectivity/bluetooth/ble/src/main/AndroidManifest.xml
  samples/connectivity/bluetooth/ble/src/main/java/com/example/platform/connectivity/bluetooth/ble/BluetoothSampleBox.kt
  samples/connectivity/bluetooth/ble/src/main/java/com/example/platform/connectivity/bluetooth/ble/ConnectGATTSample.kt
  samples/connectivity/bluetooth/ble/src/main/java/com/example/platform/connectivity/bluetooth/ble/FindBLEDevicesSample.kt
  samples/connectivity/bluetooth/ble/src/main/java/com/example/platform/connectivity/bluetooth/ble/GATTServerSample.kt
Labels: new sample

#54 [Infra] - Update JavaLanguageVersion to 17 as Default
  .github/workflows/build.yml
  app/build.gradle.kts
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/com.example.platform.plugin/CommonConventionPlugin.kt
  build-logic/src/main/kotlin/com.example.platform.plugin/SamplePlugin.kt
Labels: bug, enhancement

#65 [Sample] [Graphics] - Implementation of "Displaying UltraHDR (Glide)"
  gradle/libs.versions.toml
  samples/README.md
  samples/graphics/ultrahdr/build.gradle.kts
  samples/graphics/ultrahdr/src/main/assets/gainmaps/night_highrise.jpg
  samples/graphics/ultrahdr/src/main/assets/sdr/night_highrise.jpg
  samples/graphics/ultrahdr/src/main/java/com/example/platform/graphics/ultrahdr/common/ColorModeControls.kt
  samples/graphics/ultrahdr/src/main/java/com/example/platform/graphics/ultrahdr/display/DisplayingUltraHDRUsingGlide.kt
  samples/graphics/ultrahdr/src/main/res/layout/displaying_ultrahdr_using_glide.xml
Labels: enhancement, new sample
